**/*.log
**/*.bat
**/*.spec
**/__examples__/
**/__pycache__/
**/__testData__/
**/__tests__/
**/__design__/
**/.idea/
**/.vscode/
**/build/
**/__packed__/
**/__readme__/
**/node_modules/
**/package-lock.json
**/yarn.lock
**/coverage/
**/test-results/
**/test-results.xml
**/tsconfig.tsbuildinfo
**/tsconfig.json
**/tsconfig.base.json
**/__pypimodules__/
**/__execute__/
**/private/